<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Melonville Hydro - Construction Company Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Construction Company Website Template" name="keywords">
    <meta content="Construction Company Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="lib/slick/slick.css" rel="stylesheet">
    <link href="lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="logo">
                            <a href="index.html">
                                <h1>Melonville Hydro</h1>
                                <!-- <img src="img/logo.jpg" alt="Logo"> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 d-none d-lg-block">
                        <div class="row">
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-calendar"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Opening Hour</h3>
                                        <p>Mon - Fri, 8:00 - 9:00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-call"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Call Us</h3>
                                        <p>+012 345 6789</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-send-mail"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Email Us</h3>
                                        <p>info@example.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="nav-bar">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="index.html" class="nav-item nav-link">Home</a>
                            <a href="about.html" class="nav-item nav-link active">About</a>
                            <!-- <a href="service.html" class="nav-item nav-link">Service</a> -->
                            <a href="team.html" class="nav-item nav-link">Team</a>
                            <!-- <a href="portfolio.html" class="nav-item nav-link">Project</a>
                                    <div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                        <div class="dropdown-menu">
                                            <a href="blog.html" class="dropdown-item">Blog Page</a>
                                            <a href="single.html" class="dropdown-item">Single Page</a>
                                        </div>
                                    </div> -->
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="ml-auto">
                            <a class="btn" href="#">Get A Quote</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>About Us</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">About Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- About Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="img/about.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            <p>Welcome to Melonville Hydro</p>
                            <h2>25 Years Experience</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                For more than 25 years, we have provided light solutions to many cities, companies and
                                people. Improving their lifes is our main goal, by innovating in one of the most
                                important resources for us.
                            </p>
                            <p>
                                The journey of getting power to your home or business involves electricity generation,
                                transmission and distribution.
                                <br>
                                <br>
                                Melonville Hydro is responsible for the last step of the journey: distributing
                                electricity to residential, commercial and industrial customers in many cities around
                                the globe.
                                <br>
                                <br>
                                We're committed to delivering excellent customer service, providing a safe and reliable
                                supply of electricity, and delivering long-term value to you, and the world.
                            </p>
                            <a class="btn" href="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Fact Start -->
        <div class="fact">
            <div class="container-fluid">
                <div class="row counters">
                    <div class="col-md-6 fact-left wow slideInLeft">
                        <div class="row">
                            <div class="col-6">
                                <div class="fact-icon">
                                    <i class="flaticon-worker"></i>
                                </div>
                                <div class="fact-text">
                                    <h2 data-toggle="counter-up">+1,500</h2>
                                    <p>Expert Workers</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="fact-icon">
                                    <i class="flaticon-building"></i>
                                </div>
                                <div class="fact-text">
                                    <h2 data-toggle="counter-up">+700,000</h2>
                                    <p>Happy Customers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 fact-right wow slideInRight">
                        <div class="row">
                            <div class="col-6">
                                <div class="fact-icon">
                                    <i class="flaticon-address"></i>
                                </div>
                                <div class="fact-text">
                                    <h2 data-toggle="counter-up">60,910</h2>
                                    <p>Distribution Transformers</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="fact-icon">
                                    <i class="flaticon-crane"></i>
                                </div>
                                <div class="fact-text">
                                    <h2 data-toggle="counter-up">30,000</h2>
                                    <p>Kms of wires</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fact End -->


        <!-- Other info Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-lg-12 col-md-12">
                            <div class="section-header text-center">
                                <p>About Melonville Hydro</p>
                                <h2>Some of our Key facts and Figures</h2>
                                <br>
                                <caption id="caption1"> <span>As of December 31, 2020 (unless otherwise noted)</span>
                                </caption>

                                <br>
                                <br>

                                <table class="table table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Category</th>
                                            <th scope="col">Figure</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Customers</td>
                                            <td>785,000<sup><a aria-label="Footnote 1" href="#fn1" id="r1">[1]</a></sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Electricity delivered</td>
                                            <td>23,604 (<abbr title="Gigawatt hours">GWh</abbr>)</td>
                                        </tr>
                                        <tr>
                                            <td>Poles</td>
                                            <td>181,800</td>
                                        </tr>
                                        <tr>
                                            <td>Overhead wires</td>
                                            <td>15,450 (circuit <abbr title="kilometre">km</abbr>)</td>
                                        </tr>
                                        <tr>
                                            <td>Underground wires</td>
                                            <td>13,555 (circuit <abbr title="kilometre">km</abbr>)</td>
                                        </tr>
                                        <tr>
                                            <td>Primary switches</td>
                                            <td>17,330</td>
                                        </tr>
                                        <tr>
                                            <td>Distribution transformers</td>
                                            <td>60,910</td>
                                        </tr>
                                        <tr>
                                            <td>Control centre</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>Operations centres</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <td>Employees</td>
                                            <td>1,270</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h2 class="thc-heading-secondary">Our electricity supply mix</h2>
                                <br>
                                <br>
                                <div aria-labelledby="caption2" class="table-responsive" role="group">
                                    <table class="table table-hover table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Power source</th>
                                                <th scope="col">Percentage of supply mix</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Nuclear energy</td>
                                                <td>56.8%</td>
                                            </tr>
                                            <tr>
                                                <td>Water power</td>
                                                <td>24.4%</td>
                                            </tr>
                                            <tr>
                                                <td>Wind power</td>
                                                <td>8.7%</td>
                                            </tr>
                                            <tr>
                                                <td>Natural gas</td>
                                                <td>6.3%</td>
                                            </tr>
                                            <tr>
                                                <td>Solar PV</td>
                                                <td>2.4%</td>
                                            </tr>
                                            <tr>
                                                <td>Bioenergy </td>
                                                <td>0.5%</td>
                                            </tr>
                                            <tr>
                                                <td>Non-contracted</td>
                                                <td>0.9%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <p><strong>Note:</strong> Figures may not add to 100% due to rounding.</p>

                                <br>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <div class="section-header text-center">
                            <h2 style="color: #fdbe33;">Governance</h2>
                            <br>
                            <div>
                                <h5>Our leadership team believes that strong corporate governance is essential for
                                    delivering
                                    customer value, operating efficiently, creating shareholder value and maintaining
                                    investor confidence. Our Code of Conduct, Disclosure Policy and active board
                                    committees
                                    help us ensure sound governance for all of our operations and business activities.
                                </h5>
                            </div>
                            <div>
                                <br>
                                <h1>Our commitment</h1>
                                <br>
                                <h5>Our Board of Directors has put in place a system of corporate governance that
                                    fulfills
                                    the requirements of applicable provincial legislation and Canadian securities rules,
                                    and
                                    meets best practices for regulated utilities. As part of its ongoing commitment to
                                    corporate governance, our board operates in accordance with a written mandate, and
                                    our
                                    board committees operate in accordance with written charters, which are all reviewed
                                    and
                                    approved by our Board of Directors.</h5>
                                <br>
                                <h1>Code of Business Conduct and Whistleblower Procedure</h1>
                                <br>
                                <h5>All our employees, officers and directors are required to comply with the principles
                                    set
                                    out in our Code of Business Conduct and Whistleblower Procedure, which was
                                    implemented
                                    in 2003, and is periodically reviewed, revised and approved by our Board of
                                    Directors.
                                </h5>
                                <br>
                                <h1>Disclosure</h1>
                                <br>
                                <h5>Our Board of Directors recognize the importance of ensuring that communications to
                                    the
                                    public about Melonville Hydro and its subsidiaries are timely, factual and
                                    accurate, and are broadly disseminated in accordance with all applicable legal and
                                    regulatory requirements. To ensure consistent and appropriate disclosure practices,
                                    we've adopted a disclosure policy to govern the disclosure by our employees,
                                    officers
                                    and directors, of material information about our organization.</h5>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-12 text-center">
                        <div class="section-header text-center">
                            <div class="col-md-12">
                                <br>
                    <br>
                                <h2 style="color: #fdbe33;">Environmental performance</h2>
                                <br>
                                <h5>Learn about our environmental commitment and initiatives.</h5>
                                <div>
                                    <h5>Environmental performance is a core value at Melonville Hydro. We actively contribute to the City of
                                        World's climate change goals, have a strong record on environmental
                                        performance, and have been recognized as a top environmental performer, partner
                                        and leader.</h5>

                                    <figure class="figure"><img

                                            src="/web/20211009234311im_/https://www.torontohydro.com/documents/20143/55780/environmental-performance-banner.png/14419884-6455-53fd-3715-01f4ceecd156?t=1623095350750">
                                    </figure>
                                    <br>
                                    <br>
                                    <h3>Our environmental commitment</h3>
                                    <br>
                                    <ul>
                                        <li><h5>We operate an Environment, Health and Safety (EHS) Management System in
                                            accordance with stringent, internationally recognized standards</h5></li>
                                        <li><h5>We continuously monitor and assess all aspects of our environmental
                                            performance in an effort to reduce our environmental footprint and improve
                                            efficiency</h5></li>
                                        <li><h5>We also continue to help our customers be part of the shift to a sustainable
                                            economy by connecting renewable power and energy storage to the grid,
                                            encouraging the use of electrified transportation and offering online
                                            billing to reduce paper consumption</h5></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Other info End -->


        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-contact">
                            <h2>Office Contact</h2>
                            <p><i class="fa fa-map-marker-alt"></i>123 El Camino, San Ramon, CA.</p>
                            <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                            <p><i class="fa fa-envelope"></i>contact@mh.com</p>
                            <div class="footer-social">
                                <a href="www.sap.com"><i class="fab fa-twitter"></i></a>
                                <a href="www.sap.com"><i class="fab fa-facebook-f"></i></a>
                                <a href="www.sap.com"><i class="fab fa-youtube"></i></a>
                                <a href="www.sap.com"><i class="fab fa-instagram"></i></a>
                                <a href="www.sap.com"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-link">
                            <h2>Services Areas</h2>
                            <a href="/workinprogress">Planning and Development</a>
                            <a href="/workinprogress">Commercial/Business Delivery</a>
                            <a href="/workinprogress">Home Delivery</a>
                            <a href="/workinprogress">Outside the city</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-link">
                            <h2>Useful Pages</h2>
                            <a href="/about">About Us</a>
                            <a href="/contact">Contact Us</a>
                            <a href="/team">Our Team</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="newsletter">
                            <h2>Newsletter</h2>
                            <p>
                                What is the safest form of Energy you may ask? YOU WON'T BELIEVE THE ANSWER
                                <br>
                                <br>
                                Follow us in our next newsletter
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container footer-menu">
                <div class="f-menu">
                    <a href="/workinprogress">Terms of use</a>
                    <a href="/workinprogress">Privacy policy</a>
                    <a href="/workinprogress">Cookies</a>
                    <a href="/workinprogress">Help</a>
                    <a href="/workinprogress">FQAs</a>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="#">Melonville Hydro</a>, All Right Reserved. An SAP Academy Fake Company.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="https://linkedin.com/fernandosanchez">Fernando Sánchez</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>